<link rel="stylesheet" type="text/css" href="/main/CSS/main.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link rel="stylesheet" href="/main/CSS/full-page-scroll.css">
<div class="main">
    <div id="main" class="scroll-container">
        <section class="section1">
            <div class="container">
                <div class="list">
                </div>
                <div class="slide-container activity">
                    <div class="img-lawyer1">
                        <div class="img-text">민/형사 전문<br>김익환 대표 변호사</div>
                    </div>
                    <div class="slide-text-container">
                        <div class="slide-top-text">professionally</div>
                        <div class="top-text-border"></div>
                        <div class="slide-mid">
                            <div class="slide-mid-text">결과로 보여주는</div>
                            <div class="slide-mid-bold">민/형사전문 변호사</div>
                        </div>
                        <div class="slide-bottom-text">재판의 결과는 전문 변호사의 경험과 능력에 의해 결정됩니다.</div>
                    </div>
                </div>
                <div class="slide-container">
                    <div class="img-lawyer2">
                        <div class="img-text">노동 전문<br>김상훈 파트너 변호사</div>
                    </div>
                    <div class="slide-text-container">
                        <div class="slide-top-text">professionally</div>
                        <div class="top-text-border"></div>
                        <div class="slide-mid">
                            <div class="slide-mid-text">인사노무 실무를 겸비한</div>
                            <div class="slide-mid-bold">노동 전문 변호사</div>
                        </div>
                        <div class="slide-bottom-text">노사분쟁, 노동 전문 변호사가 만들어내는 결과는 다릅니다.</div>
                    </div>
                </div>
                <div class="slide-container">
                    <div class="img-lawyer3">
                        <div class="img-text">군검사 출신<br>김훈찬 파트너 변호사</div>
                    </div>
                    <div class="slide-text-container">
                        <div class="slide-top-text">professionally</div>
                        <div class="top-text-border"></div>
                        <div class="slide-mid">
                            <div class="slide-mid-text">군 사건에 특화된</div>
                            <div class="slide-mid-bold">군검사 출신 변호사</div>
                        </div>
                        <div class="slide-bottom-text">군 형법에 특화된 군검사 출신 전문 변호사가 만들어내는 결과는 다릅니다.</div>
                    </div>
                </div>
                <div class="slide-container">
                    <div class="img-lawyer4">
                        <div class="img-text">공인중개사 자격<br>유익상 파트너 변호사</div>
                    </div>
                    <div class="slide-text-container">
                        <div class="slide-top-text">professionally</div>
                        <div class="top-text-border"></div>
                        <div class="slide-mid">
                            <div class="slide-mid-text">부동산 사건에 특화된</div>
                            <div class="slide-mid-bold">공인중개사 자격 변호사</div>
                        </div>
                        <div class="slide-bottom-text">부동산 문제, 공인중개사 자격 변호사의 솔루션은 다릅니다.</div>
                    </div>
                </div>
                <div class="tap-menu">
                    <div class="right-tap-logo"></div>
                    <div class="right-tap-phone">
                        <i class="fas fa-phone-alt fa-3x"></i>
                        <div class="icon-text"><br>전화상담</div>
                    </div>
                    <div class="right-tap-online">
                        <i class="far fa-file-alt fa-4x"></i>
                        <div class="icon-text"><br>온라인 상담</div>
                    </div>
                    <div class="right-tap-directions">
                        <i class="fas fa-map-marker-alt fa-4x"></i>
                        <div class="icon-text"><br>오시는 길</div>
                    </div>
                </div>
                <div class="slide-page">
                    <div class="page-btn"><i class="fas fa-circle toggle"></i></div>
                    <div class="page-btn"><i class="fas fa-circle"></i></div>
                    <div class="page-btn"><i class="fas fa-circle"></i></div>
                    <div class="page-btn"><i class="fas fa-circle"></i></div>
                </div>
            </div>
        </section>
        <section class="section2">
            <div class="mid-container">
                <div class="title-container">
                    <div class="mid-title">성공사례</div>
                    <div class="mid-subtitle">
                        <div class="subtitle-bold">1000</div>건 이상의 다양한 사건경험을 통한 성공사례 보유
                    </div>
                </div>
                <div class="mid-nav">
                    <a href="" class="nav-link">부동산 소송</a>
                    <a href="" class="nav-link">형사 소송</a>
                    <a href="" class="nav-link">민사 소송</a>
                    <a href="" class="nav-link">노무 소송</a>
                    <a href="" class="nav-link">기업 법무</a>
                    <a href="" class="nav-link">이혼 소송</a>
                    <a href="" class="nav-link">상속 분쟁</a>
                </div>
            </div>
        </section>
        <section class="section3">
            <div class="bottom-container">
                <div class="title-container">
                    <div class="bottom-title">
                        <div class="title-bold">온라인</div>상담
                    </div>
                    <div class="bottom-subtitle">고객님의 사건 해결을 위해 빠르고 정확한 솔루션을 제공하겠습니다.</div>
                </div>
                <div class="bottom-form"></div>
            </div>
        </section>
        <section class="section4">
            <div class="map-container">
                <div class="title-container">
                    <div class="map-title">서울</div>
                    <div class="map-subtitle">서울특별시 서초구 서초중앙로 41 대성빌딩 4층</div>
                </div>
                <div class="map"></div>
            </div>
        </section>
    </div>
</div>

<script src="/main/JS/main.js"></script>
<script src="/main/JS/full-page-scroll.js"></script>
<script type="text/javascript">
    new fullScroll({
        mainElement: "main",
        displayDots: true,
        dotsPosition: "right",
        animateTime: 0.7,
        animateFunction: "ease",
    });
</script>