<link rel="stylesheet" type="text/css" href="/main/CSS/main.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<div class="main">
    <div class="list">
        <div class="list-nav">
            <div class="list-tap">· Main</div>
            <div class="list-tap">· 성공사례</div>
        </div>
    </div>
    <div class="slide-container activity">
        <div class="img-lawyer1">
            <div class="img-text">민/형사 전문<br>김익환 대표 변호사</div>
        </div>
        <div class="slide-text-container">
            <div class="slide-top-text">professionally</div>
            <div class="top-text-border"></div>
            <div class="slide-mid">
                <div class="slide-mid-text">결과로 보여주는</div>
                <div class="slide-mid-bold">민/형사전문 변호사</div>
            </div>
            <div class="slide-bottom-text">재판의 결과는 전문 변호사의 경험과 능력에 의해 결정됩니다.</div>
        </div>
    </div>
    <div class="slide-container">
        <div class="img-lawyer2">
            <div class="img-text">노동 전문<br>김상훈 파트너 변호사</div>
        </div>
        <div class="slide-text-container">
            <div class="slide-top-text">professionally</div>
            <div class="top-text-border"></div>
            <div class="slide-mid">
                <div class="slide-mid-text">인사노무 실무를 겸비한</div>
                <div class="slide-mid-bold">노동 전문 변호사</div>
            </div>
            <div class="slide-bottom-text">노사분쟁, 노동 전문 변호사가 만들어내는 결과는 다릅니다.</div>
        </div>
    </div>
    <div class="slide-container">
        <div class="img-lawyer3">
            <div class="img-text">군검사 출신<br>김훈찬 파트너 변호사</div>
        </div>
        <div class="slide-text-container">
            <div class="slide-top-text">professionally</div>
            <div class="top-text-border"></div>
            <div class="slide-mid">
                <div class="slide-mid-text">군 사건에 특화된</div>
                <div class="slide-mid-bold">군검사 출신 변호사</div>
            </div>
            <div class="slide-bottom-text">군 형법에 특화된 군검사 출신 전문 변호사가 만들어내는 결과는 다릅니다.</div>
        </div>
    </div>
    <div class="slide-container">
        <div class="img-lawyer4">
            <div class="img-text">공인중개사 자격<br>유익상 파트너 변호사</div>
        </div>
        <div class="slide-text-container">
            <div class="slide-top-text">professionally</div>
            <div class="top-text-border"></div>
            <div class="slide-mid">
                <div class="slide-mid-text">부동산 사건에 특화된</div>
                <div class="slide-mid-bold">공인중개사 자격 변호사</div>
            </div>
            <div class="slide-bottom-text">부동산 문제, 공인중개사 자격 변호사의 솔루션은 다릅니다.</div>
        </div>
    </div>
    <div class="tap-menu">
        <div class="right-tap-logo"></div>
        <div class="right-tap-phone">
            <i class="fas fa-phone-alt fa-3x"></i>
            <div class="icon-text">전화상담</div>
        </div>
        <div class="right-tap-online"><i class="far fa-file-alt fa-4x"></i></div>
        <div class="right-tap-directions"><i class="fas fa-map-marker-alt fa-4x"></i></div>
    </div>
    <div class="slide-page">
        <div class="page-btn"><i class="fas fa-circle toggle"></i></div>
        <div class="page-btn"><i class="fas fa-circle"></i></div>
        <div class="page-btn"><i class="fas fa-circle"></i></div>
        <div class="page-btn"><i class="fas fa-circle"></i></div>
    </div>
</div>
<script src="/main/JS/main.js"></script>